# .env.example

# PostgreSQL connection string
DATABASE_URL=postgres://username:password@localhost:5432/database_name

# JWT secret key
JWT_SECRET_KEY=your_jwt_secret_key

# API port configuration
PORT=3000